# R and co
.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
*.Rproj
.Rproj.user
.Rproj.user/
/*.Rcheck/
renv/

# Python and co
_environment
/.micromamba/
/.joblib
/.pytest_cache/

# Quarto tmp files
/.quarto/
/*_files
/*_cache
/_freeze
_site/
/cache/

# Quarto output files
intercepts.html
intercepts.pdf
intercepts.tex

# Quarto extension files
_extensions/
logo_text_white.pdf
logo_notext_white.png

# Latex compilation files
*.aux
*.log
*.toc

# Various system files
DS_Store
/.luarc.json

# nix -----------------------------------------------

# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

# Ignore direnv folder
.direnv/
